name: Metrics
on:
  schedule: [{cron: "0 16 * * *"}]
  workflow_dispatch:
  push:
    branches: ["master", "main"]

permissions:
  contents: write

jobs:
  metrics-main:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}
          user: 00fish0
          base: header, activity, community, repositories, metadata
          filename: metrics-main.svg
          template: classic
          base_indepth: yes
          base_hireable: yes

  metrics-lang-notable:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}
          user: 00fish0
          base: ''
          filename: metrics-lang-notable.svg
          template: classic

          plugin_languages: yes
          plugin_languages_ignored: CMake, HTML, CSS, Makefile, Jupyter Notebook
          plugin_languages_sections: most-used
          plugin_languages_limit: 8
          plugin_languages_details: percentage
          plugin_languages_indepth: no
          plugin_languages_analysis_timeout: 30
          plugin_languages_categories: programming

          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_filter: stars:>5 forks:>2
          plugin_notable_repositories: yes
          plugin_notable_indepth: yes
          plugin_notable_self: no

          repositories: 200
          repositories_batch: 40
